In [1]:
import numpy as np
import pandas as pd
import yfinance as yf

import sys
sys.path.insert(0, "../Src/")

%autosave 5

Autosaving every 5 seconds

In [2]:
def loadData(ticker):
    train = yf.download(ticker, start="2020-01-01", end="2024-03-01")[['Close']]
    test = yf.download(ticker, start="2024-03-01", end="2024-10-13")[['Close']]
    return train,test

In [3]:
def main():
    train,test = loadData("MSFT")
    display(train)
    display(test)

In [4]:
main()

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

                 Close
Date
2020-01-02  160.619995
2020-01-03  158.619995
2020-01-06  159.029999
2020-01-07  157.580002
2020-01-08  160.089996
...                ...
2024-02-23  410.339996
2024-02-26  407.540009
2024-02-27  407.480011
2024-02-28  407.720001
2024-02-29  413.640015

[1047 rows x 1 columns]

                 Close
Date
2024-03-01  415.500000
2024-03-04  414.920013
2024-03-05  402.649994
2024-03-06  402.089996
2024-03-07  409.140015
...                ...
2024-10-07  409.540009
2024-10-08  414.709991
2024-10-09  417.459991
2024-10-10  415.839996
2024-10-11  416.320007

[156 rows x 1 columns]