In [1]:
import numpy as np
import pandas as pd
import yfinance as yf

import sys
sys.path.insert(0, "../Src/")

%autosave 5

Autosaving every 5 seconds

In [2]:
def loadData(ticker):
    train = yf.download(ticker, start="2020-01-01", end="2024-03-01")[['Close','High','Low']].reset_index()
    test = yf.download(ticker, start="2024-03-01", end="2024-10-13")[['Close','High','Low']].reset_index()

    columnRenameDict = {
        'Date' : 'ds',
        'Close': 'y',
        'High': 'cap',
        'Low': 'floor'
    }
    
    train = train.rename(columns = columnRenameDict)
    test = test.rename(columns = columnRenameDict)
    
    return train,test

In [3]:
def main():
    train,test = loadData("MSFT")
    display(train)
    display(test)

In [4]:
main()

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

             ds           y         cap  floor
0    2020-01-02  160.619995  514.315997      0
1    2020-01-03  158.619995  514.315997      0
2    2020-01-06  159.029999  514.315997      0
3    2020-01-07  157.580002  514.315997      0
4    2020-01-08  160.089996  514.315997      0
...         ...         ...         ...    ...
1042 2024-02-23  410.339996  514.315997      0
1043 2024-02-26  407.540009  514.315997      0
1044 2024-02-27  407.480011  514.315997      0
1045 2024-02-28  407.720001  514.315997      0
1046 2024-02-29  413.640015  514.315997      0

[1047 rows x 4 columns]

            ds           y         cap  floor
0   2024-03-01  415.500000  514.315997      0
1   2024-03-04  414.920013  514.315997      0
2   2024-03-05  402.649994  514.315997      0
3   2024-03-06  402.089996  514.315997      0
4   2024-03-07  409.140015  514.315997      0
..         ...         ...         ...    ...
151 2024-10-07  409.540009  514.315997      0
152 2024-10-08  414.709991  514.315997      0
153 2024-10-09  417.459991  514.315997      0
154 2024-10-10  415.839996  514.315997      0
155 2024-10-11  416.320007  514.315997      0

[156 rows x 4 columns]